//@tailwind preflight;
@tailwind components;
@tailwind utilities;

@css{
	section {
		@apply p-6;
	}
}

#name2
    font-family: monospace
    color: #55ff00

.whoami
	background: linear-gradient(to bottom right,#2196f3,#1565c0)
	color: white

.contacts
	background: linear-gradient(to bottom right, #ee0979, #ff6a00)
	color: white

.home
	font-family: 'PT Sans'

//html
//	line-height: 1.2
	
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
